*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgba(144, 15, 15, 0.945);
}
#container{
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
button{
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 0, 0, 0.564);
    cursor: pointer;
    transition: all 0.4s ease;
    color: #fff;
    font-weight: bold;
}
button:hover{
    background-color: rgba(255, 0, 0, 0.89);
    border-radius: 13px;
}
button:active{
    background-color: rgba(255, 0, 0, 0.389);
}
input{
    font-size: 1.2em;
    width: 150px;
    border-radius: 4px;
    border: 1px solid rgba(215, 38, 38, 0.737);
    text-align: center;
    font-weight: bold;
}
#diceImages>img{
    width: 100px;
    padding: 5px;
}